{#
/**
 * @file
 * theme implementation for simple text field formatter.
 *
 *  Available variables:
 * - val: It is the value to simple text field.
 * 
 */
#}

<div class="giphy-first-content">
 {{ val }}
</div>


